{% extends 'FangoMainBundle:Dashboard:layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Networks</h1>

    {% if networks|length > 0 %}
        <table class="table table-striped">
            <tr>
                <th>
                    <span style="min-width: 120px" class="pull-left">Pay Per Post <i class="fa fa-question-circle" style="color: #999" data-toggle="tooltip" data-placement="top" title="This is the amount of dollars you get paid for sharing a branded post. Please input appropriate numbers since our algorithm decides which campaigns are available for you based on this number."></i></span>
                </th>
                <th>
                    24 hours <i class="fa fa-question-circle" style="color: #999" data-toggle="tooltip" data-placement="top" title="The post stays on your profile for 24 hours"></i>
                </th>
                <th>
                    Week <i class="fa fa-question-circle" style="color: #999" data-toggle="tooltip" data-placement="top" title="The post stays on your profile for a week"></i>
                </th>
                <th>
                    Permanent <i class="fa fa-question-circle" style="color: #999" data-toggle="tooltip" data-placement="top" title="The post stays on your profile indefinitely"></i>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            {% for network in networks %}
            <tr>
                <td>
                    <img src="{{ asset('img/'~network.type~'.png') }}" alt="{{ network.type }}"/>
                    <strong>{{ network.display }}</strong>
                </td>
                <td>
                    ${{ network.cppDay }}
                </td>
                <td>
                    ${{ network.cppWeek }}
                </td>
                <td>
                    ${{ network.cppLifetime }}
                </td>
                <td>
                    <a href="{{ url('fango_dashboard_network_edit', {id: network.id}) }}">edit</a>
                </td>
                <td>
                    <a href="#" data-href="{{ url('fango_dashboard_networks_remove', { id: network.id }) }}" class="confirm" style="color: #BBB">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script type="application/javascript">
        $('.confirm').click(function() {
            var url = $(this).data('href');
            bootbox.confirm('Are you sure you want to remove this network from your account?', function(result) {
                if (result) {
                    window.location.href = url;
                }
            });
        });

        // Tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_facebook_login') }}" class="btn btn-lg btn-block omb_btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_twitter_login') }}" class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_instagram_login', {'redirectUrl': url('fango_dashboard_networks_index') }) }}" class="btn btn-lg btn-block omb_btn-instagram">
                <i class="fa fa-instagram visible-xs"></i>
                <span class="hidden-xs">Instagram</span>
            </a>
        </div>
    </div>
{% endblock %}
