{% extends 'FangoMainBundle:Dashboard:layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
{% endblock %}

{% block main %}
    <h1>Networks</h1>

    {% if networks|length > 0 %}
    <div class="row">
        <div class="alert alert-info" role="alert">
        {% for network in networks %}
            <div>
                <img src="{{ asset('img/'~network.type~'.png') }}" alt="{{ network.type }}"/>
                <strong>{{ network.display }}</strong>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_facebook_login') }}" class="btn btn-lg btn-block omb_btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_twitter_login') }}" class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_instagram_login') }}" class="btn btn-lg btn-block omb_btn-instagram">
                <i class="fa fa-instagram visible-xs"></i>
                <span class="hidden-xs">Instagram</span>
            </a>
        </div>
    </div>
{% endblock %}
