{% extends 'FangoMainBundle:Dashboard:layout.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
{% endblock %}

{% block js %}
    <script src="{{ asset('js/bootbox.min.js') }}"></script>
{% endblock %}

{% block main %}
    <h1>Networks</h1>

    {% if networks|length > 0 %}
        <table class="table table-striped">
            <tr>
                <th>
                    <span style="min-width: 100px" class="pull-left">Pay Per Post</span>
                </th>
                <th>
                    PPP for 24 hours
                </th>
                <th>
                    PPP for a week
                </th>
                <th>
                    PPP for lifetime
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
            {% for network in networks %}
                <form action="{{ url('fango_dashboard_networks_index') }}" method="post">
                <input type="hidden" name="id" value="{{ network.id }}">
                <tr>
                    <td>
                        <img src="{{ asset('img/'~network.type~'.png') }}" alt="{{ network.type }}"/>
                        <strong>{{ network.display }}</strong>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon hidden-xs">$</div>
                            <input type="text" class="form-control col-sm-3" value="{{ network.cppDay }}" name="day"/>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon hidden-xs">$</div>
                            <input type="text" class="form-control col-sm-3" value="{{ network.cppWeek }}" name="week"/>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon hidden-xs">$</div>
                            <input type="text" class="form-control col-sm-3" value="{{ network.cppLifetime }}" name="lifetime"/>
                        </div>
                    </td>
                    <td>
                        <input type="submit" value="Save" class="btn btn-success"/>
                    </td>
                    <td>
                        <a href="#" data-href="{{ url('fango_dashboard_networks_remove', { id: network.id }) }}" class="confirm" style="color: #BBB">
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>
                </form>
            {% endfor %}
        </table>
    {% endif %}

    <script type="application/javascript">
        $('.confirm').click(function() {
            var url = $(this).data('href');
            bootbox.confirm('Are you sure?', function(result) {
                if (result) {
                    window.location.href = url;
                }
            });
        });
    </script>

    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_facebook_login') }}" class="btn btn-lg btn-block omb_btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_twitter_login') }}" class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="{{ url('fango_user_instagram_login', {'redirectUrl': url('fango_dashboard_networks_index') }) }}" class="btn btn-lg btn-block omb_btn-instagram">
                <i class="fa fa-instagram visible-xs"></i>
                <span class="hidden-xs">Instagram</span>
            </a>
        </div>
    </div>
{% endblock %}
