{% set home = 'https://fango.me/?utm_source=iginvite&utm_medium=email&utm_content=feel_free_sign_up&utm_campaign=' ~ version ~ '&uid=' ~ uid %}

<div dir="ltr">
    <div>Hi,</div>
    <div>
        <br>
    </div>
    <div>First of all, congratulations on your success with social media! I'm Jessica and I work for Fango, where top brands sponsor great social media creators like you. I wanted to reach out because we’d love to collaborate with you!</div>
    <div>
        <br>
    </div>
    <div>We have a campaign with the brand <a href="http://fango.me/redirect?uid={{ uid }}&url=https%3A//fango.me/campaigns/3/preview">Unrollme</a>, which helps users unsubscribe from unwanted email lists and manage their inbox fast. It's a free service with more than 1.3M users.</div>
    <div>
        <br>
    </div>
    <div>This is how it works:</div>
    <div>1- <a href="{{ home }}">Sign up on our platform</a>, it's totally free. We don't ask you to connect any of your social media accounts for this campaign.</div>
    <div>2- After registering, select Unrollme Signup campaign and click green Apply button to get your unique link.</div>
    <div>3- Then share your unique link on Facebook, Twitter, blogs and anywhere else.</div>
    <div>
        <br>
    </div>
    <div>We'd like to pay you $1 for each person that signs up through your link. We pay via PayPal. Any kind of change about the payment is not possible.</div>
    <div>
        <br>
    </div>
    <div>If you have any questions, please <a href="{{ home }}">click here</a> to learn more.</div>
    <div>
        <br>
    </div>
    <div>Best,</div>
    <div>Jessica</div>
    <div>
        <br>
    </div>
    <div>Fango</div>
    <div>934 Howard St</div>
    <div>San Francisco, 94103, CA</div>
    <div>
        <br>
    </div>
    <div>PS: If you would like to no longer receive an email from me, you can <a href="https://fango.me/unsubscribe/{{ uid }}">click here</a>. We'll be sad to see you go.</div>
    <img src="http://fango.me/email.gif?uid={{ uid }}" alt=""/>
</div>