{% set home = 'https://fango.me/?utm_source=iginvite&utm_medium=email&utm_content=feel_free_sign_up&utm_campaign=' ~ version ~ '&uid=' ~ uid %}
<div dir="ltr">
    <div>Hi,</div>
    <div>
        <br>
    </div>
    <div>First of all, congratulations on the nice work with your social media accounts! I'm Jessica and I work for Fango, where top brands sponsor great social media creators like you.</div>
    <div>
        <br>
    </div>
    <div>I wanted to reach out because we have a paid social media campaign that you might be interested. <a href="{{ url('fango_email_redirect', {'uid': uid, 'url': 'https://fango.me/campaigns/3/preview' }) }}">One of our clients</a> would like to pay $1 for each person referred. Their service is free for you and your followers.</div>
    <div>
        <br>
    </div>
    <div>We would like you to share your unique link to your followers on Facebook, Twitter, blogs and other places that you have followers. Please <a href="{{ home }}">sign up on our website</a> and generate your unique link to share. We're free and don't ask you to connect any of your social media accounts for this campaign. We pay via Paypal.</div>
    <div>
        <br>
    </div>
    <div>If you have any questions, please <a href="{{ home }}">click here</a> to learn more.</div>
    <div>
        <br>
    </div>
    <div>Best,</div>
    <div>Jessica</div>
    <div>
        <br>
    </div>
    <div>Fango</div>
    <div>934 Howard St</div>
    <div>San Francisco, 94103, CA</div>
    <div>
        <br>
    </div>
    <div>PS: If you would like to no longer receive an email from me, you can <a href="https://fango.me/unsubscribe/{{ uid }}">click here</a>. We'll be sad to see you go.</div>
    <img src="http://fango.me/email.gif?uid={{ uid }}" alt=""/>
</div>