{% extends '@FangoMain/Dashboard/layout.html.twig' %}

{% block main %}
    <div class="block row list-campaign">
        <div class="col-md-6">
            <a href="{{ url('fango_main_campaign_show', {'id': campaign.id}) }}" class="col-md-3 avatar" style="background-image: url('{{ campaign.logo }}');">
            </a>
            <div class="col-md-9 description">
                <h3>{{ campaign.name }}</h3>
            </div>
        </div>
        <div class="col-md-6 stats">
            <div class="col-md-6 campaign-list-platform">
                <h4>
                    Platforms
                </h4>
                    <span class="social-media">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-instagram"></i>
                    </span>
            </div>
            <div class="col-md-6 campaign-list-access-btn">
                {% if userCampaign is null %}
                    <a href="{{ url('fango_main_campaign_apply', {'id': campaign.id}) }}" class="btn btn-success btn-lg">Apply</a>
                {% else %}
                    <span class="btn btn-lg disabled hidden">Applied</span>
                {% endif %}

                <a href="{{ url('fango_main_campaign_preview', {'id': campaign.id}) }}" class="btn btn-info btn-lg" target="_blank">Preview</a>
            </div>
        </div>
    </div>
    {% if userCampaign is not null %}
    <div class="row">
        <div class="alert alert-info" role="alert">
            Share your link: 
            <a href="{{ url('fango_main_short_link', {'hash': userCampaign.uniqueLink}) }}" target="_blank">
                {{ url('fango_main_short_link', {'hash': userCampaign.uniqueLink}) }}
            </a>
        </div>
    </div>
    {% endif %}
    <div class="row">
        {{ campaign.description|raw }}
    </div>
{% endblock %}