{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">

            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    {{ form_widget(form.username) }}
                </div>
                <span class="help-block">{{ form_errors(form.username) }}</span>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    {{ form_widget(form.fullname) }}
                </div>
                <span class="help-block">{{ form_errors(form.fullname) }}</span>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    {{ form_widget(form.email) }}
                </div>
                <span class="help-block">{{ form_errors(form.email) }}</span>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    {{ form_widget(form.plainPassword) }}
                </div>
                <span class="help-block">{{ form_errors(form.plainPassword) }}</span>

                {{ form_rest(form) }}

                <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Register" />
            </form>
        </div>
    </div>

{% endblock fos_user_content %}
