<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="title" content="Fango. Influencer Marketing Platform." />
    <meta name="description" content="Influencer Marketing Platform by Fango." />
    <meta name="keywords" content="fango" />
    <title>Fango. Influencer Marketing Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="{{ asset('css/homepage/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('css/homepage/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ asset('css/homepage/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/homepage/media.css') }}">
    <link rel="stylesheet" href="{{ asset('css/homepage/flexslider.css') }}">
    <link rel="stylesheet" href="{{ asset('css/homepage/launchrock.css') }}">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="{{ asset('css/homepage/ie8.css') }}">
    <![endif]-->

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
</head>

<body>

<!-- BEGIN HEADER -->
<header id="header" style="background: none">
    <div id="bg-video-wrapper" style="position: fixed; z-index: -1; width: 100%; height: 100%; ">
        <iframe id="bg-video" frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/DESaYHsr8Sw?autoplay=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;loop=1&amp;playlist=DESaYHsr8Sw&amp;wmode=transparent&amp;rel=0">
        </iframe>
    </div>
    <div id="bg-image" style="position: fixed; z-index: -2; width: 100%; height: 100%; background: url('/files/web-bg.jpg') center center no-repeat;
background-size: cover;
overflow: hidden;
background-color: #151515;">
    </div>
    <div class="container">
        <div class="row" style="color: #fff; margin-top:100px; font-size:24px; text-shadow: 0px 0px 2px rgba(0,0,0,.9);">
            <h1 style="font-size: 60px;">FANGO</h1>
            <p>Influencer Marketing Platform.</p>
            <p style="margin-top: 30px"><a href="mailto:hello@fango.me" style="color: #fff">hello@fango.me</a></p>
            <div>
                <a href="{{ url('fos_user_registration_register') }}">Sign Up</a>
            </div>
            <p style="font-size: 12px; margin-top: 100px">934 Howard St, San Francisco, CA, 94103, United States</p>
        </div><!-- END ROW -->
    </div><!-- END CONTAINER -->

    <div class="clear"></div>
</header>
<!-- END HEADER -->

</body></html>