{% trans_default_domain 'FOSUserBundle' %}
{% extends "FangoMainBundle:Dashboard:layout.html.twig" %}

{% block main %}
  <h2>Change Password</h2>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password col-md-6">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ form_widget(form.current_password, {attr: {class: 'form-control', placeholder: 'Current password'}}) }}
        </div>
        <span class="help-block">{{ form_errors(form.current_password) }}</span>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control', placeholder: 'New password'}}) }}
        </div>
        <span class="help-block">{{ form_errors(form.plainPassword.first) }}</span>

        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control', placeholder: 'Repeat new password'}}) }}
        </div>
        <span class="help-block">{{ form_errors(form.plainPassword.second) }}</span>

        {{ form_rest(form) }}
        <div>
            <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>
{% endblock main %}
